doctype html
html
  head
    title Mood meter
    meta(http-equiv='refresh', content="1;URL='http://localhost:3000/'")
    link(rel='stylesheet', type='text/css', href='/styles.css')/
  body
    img(src=icon alt='')

